html, body{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    margin: auto;
}
#canvas{
border: 3px solid #000000; 
}

img{
    width: 40px;
    height: 40px;
}

a:hover{
    background-color: #000000;
}